.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header h1{
    font-size: 4rem;
}

.barIcon{
    font-size: 3rem;
    cursor: pointer;
}

@media screen and (min-width:640px) {
    .barIcon{
        display: none;
    }
    .header{
        padding:1.5rem 3rem;
    }
    .header h1{
        font-size: 5rem;
    }
}