@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1eae4;
  color: #1d1b19;
  font-size: 1.5rem;
  position: relative;
  max-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

h3{
  font-size: 3rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #1d1b19;
}

.fixed{
  position: fixed;
}

.activeClass{
  color: #fff;
}

